/*  Theme Responsive Css */


@media only screen and (max-width: 5000px){


}

@media only screen and (max-width: 19200px){


}



@media only screen and (max-width: 1200px){
    .menu-area .main-menu{
        display: none
      }
      .menu-area .mobile-nav-toggler{
        display: block;
      }
      .menu-area .menu-right-content{
          border: none;
      }
}



@media only screen and (max-width: 991px){
    .main-header .header-top .top-contact{
        margin-bottom: 5PX;
    }

    .about-section .image-box{
        margin-right: 0px !important;
        margin-bottom: 30px;
        margin-left: 0px;
        max-width: 520px;
    }
}


@media only screen and (max-width: 767px){
    .banner-section .pattern-layer{
        display: none;
    }
    .banner-section .content-inner h1{
        font-size: 36px;
        line-height: 44px;;
    }
    .about-section {
        padding: 70px 0px 55px 0px;
    }
    .about-section .content-box{
        margin-left: 0 !important;
    }
    .sec-title h2 {
        font-size: 32px;
        line-height: 42px;
    }

}


@media only screen and (max-width: 499px){
    .main-header .header-top .top-contact li,
    .main-header .header-top .top-contact li:not(:last-child){
         margin: 0 10px;
    }
    .main-header .header-top .top-contact li:not(:last-child):before{
        display: none;
    }
    .banner-section .content-inner{
        padding: 65px 30px;
    }
}
@media only screen and (max-width: 399px){
    .about-section .image-box{
        padding: 0;
    }
    .about-section .image-box .image-2{
        position: relative;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 768px){


}