 
/* Css For Safe */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header/style-one/style-two
5. Main Slider/style-one/style-two
6. Intro Section
7. Welcome Section
9. Cta Section
8. Research Fields
10. Testimonial Section
11. Researches Section
12. Team Section
14. Video
15. Fact Counter
16. News Section
19. Clients Section
20. Main Footer
21. Footer Bottom
22. Research Style Two
23. Innovative Solution
24. Discover Section
25. Testimonial Section
26. Chooseus Section
27. News Style Two
28. Page Title
29. Research Page Section
30. Research Details
31. Professor Page Section
32. Professor Details
33. About Section
34. Error Section
35. Blog Page Section
36. Blog Details
37. Blog Sidebar
38. Contact Section
39. Google Map


**********************************************/




/*** 

====================================================================
                        Home-Page-One
====================================================================

***/


/** main-header **/

.main-header{

}
/*header-top*/
.header-top{
  padding: 11.5px 0px;
}
.main-header .header-top .top-contact{
  text-align: center;
}

.main-header .header-top .top-contact li{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.main-header .header-top .top-contact li:not(:last-child){
  margin-right: 60px;
}
.main-header .header-top .top-contact li:not(:last-child):before{
  position: absolute;
  content: '';
  background: rgba(255,255,255,0.2);
  width: 1px;
  height: 20px;
  top: 2px;
  right: -30px;
}
.main-header .header-top .top-contact li a{
  color: #fff;
}
.main-header .header-top .top-contact li i{
  margin-right: 15px;
}


.main-header .header-top  .top-social-links{
  text-align: center;
}
.main-header .header-top  .top-social-links li{
  display: inline-block;
}
.main-header .header-top  .top-social-links li:not(:last-child){
  margin-right: 25px;
}
.main-header .header-top  .top-social-links li a{
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
/*header-lower*/
.header-lower{

}
.logo-box{
   float: left;
   padding: 29px 0px 21px 0px;
    max-width: 223px;
    padding-right: 50px;
    border-right: 1px solid #e5e5e5;
}
.menu-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-area .main-menu ul li{
  display: inline-block;
  padding: 40px 0;
  margin: 0 16px;
}
.menu-area .main-menu ul li:first-child{
 margin-left: 0;
}
.menu-area .main-menu ul li:last-child{
 margin-right: 0;
}
.menu-area .main-menu ul li a{
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 500ms ease;
  font-family: 'Poppins', sans-serif;
  color: #00224f;
}
.menu-area .main-menu ul li:not(:last-child) a{
  padding-right: 19px;
}
.menu-area .menu-right-content{
  border-left: 1px solid #e5e5e5;
  padding: 26px 0px 24px 25px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  width: 320px;
}
.menu-area .menu-right-content .search-box{
  margin-right: 18px;
  width: 54px;
  text-align: center;
  font-size: 20px;
}
.menu-area .menu-right-content .btn-box{
  /* display: inline-block; */
}
.menu-area .menu-right-content .btn-box .theme-btn-one{
  padding: 17px 90px 17px 35px;
  box-shadow: none;
}
.menu-area .menu-right-content .btn-box .theme-btn-one i {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  background: rgba(0,0,0,0.1);
  line-height: 60px;
  text-align: center;
}
.menu-area .mobile-nav-toggler{
  display: none;
  margin-left: 10px;
  padding: 10px;
}
.menu-area .mobile-nav-toggler .icon-bar{
    height: 2px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background-color: #00224f;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.menu-area .mobile-nav-toggler .icon-bar:not(:last-child){
  margin-bottom: 5px;
}

/** mobile-menu **/

.nav-outer .mobile-nav-toggler{
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color:#3786ff;
  display: none;
}
.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}
.mobile-menu .nav-logo{
  position:relative;
  padding:50px 25px;
  text-align:left; 
  padding-bottom: 100px;
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop{
  position: fixed;
  right: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
  opacity: 0.70;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #202020;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  -ms-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}


.mobile-menu .menu-list li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .menu-list:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .menu-list li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .menu-list li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .menu-list li.current > a:before{
  height:100%;
}

.mobile-menu .social-links{
  position:relative;
  padding:0px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .social-links li a:hover{
  
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 120px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li a:hover{
  
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}

/** xs-sidebar **/

.xs-sidebar-group .xs-overlay{
  left:0%;
  top:0;
  position:fixed;
  height:100%;
  opacity:0;
  width:100%;
  visibility:hidden;
  -webkit-transition:all .4s ease-in .8s;
  -o-transition:all .4s ease-in .8s;
  transition:all .4s ease-in .8s;
  cursor:url(../images/icons/cross-out.png),
  pointer; 
  z-index: 999999;
}
.xs-sidebar-group.isActive .xs-overlay{
  opacity:.8;
  visibility:visible;
  -webkit-transition:all .8s ease-out 0s;
  -o-transition:all .8s ease-out 0s;
  transition:all .8s ease-out 0s;
  right:100%;
}
.xs-sidebar-group .widget-heading{
  position:absolute;
  top:0;
  right:0;
  padding:25px;
}
.xs-sidebar-group .widget-heading a{
  color: #00224f;
  font-size: 20px;
  font-weight: 400;
}
.xs-sidebar-widget{
  position:fixed;
  left:-100%;
  top:0;
  bottom:0;
  width:100%;
  max-width:360px;
  z-index:999999;
  overflow:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  background-color:#fff;
  -webkit-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  -o-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  visibility:hidden;
  opacity:0;
}
.xs-sidebar-group.isActive .xs-sidebar-widget{
  opacity:1;
  visibility:visible;
  left:0;
  -webkit-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  -o-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}
.sidebar-textwidget{
  padding: 70px 30px;
}
.sidebar-widget-container{
  position:relative;
  top:150px;
  opacity:0;
  visibility:hidden;
  -webkit-transition:all .3s ease-in .3s;
  -o-transition:all .3s ease-in .3s;
  transition:all .3s ease-in .3s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.xs-sidebar-group.isActive .sidebar-widget-container{
  top:0px;
  opacity:1;
  visibility:visible;
  -webkit-transition:all 1s ease-out 1.2s;
  -o-transition:all 1s ease-out 1.2s;
  transition:all 1s ease-out 1.2s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.xs-overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:.5;
  z-index:0;
}
.xs-bg-black{
  background-color:#00224f;
}
.xs-sidebar-group .content-inner .logo{
  position: relative;
  max-width: 172px;
  width: 100%;
  margin-bottom: 30px;
}
.xs-sidebar-group .content-inner h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.xs-sidebar-group .content-inner .content-box{
  margin-bottom: 30px;
  padding-right: 15px;
}
.xs-sidebar-group .content-inner .content-box p{
  color: #848484;
}
.xs-sidebar-group .content-inner .form-inner .form-group{
  position: relative;
  margin-bottom: 20px;
}
.xs-sidebar-group .content-inner .form-inner .form-group:last-child{
  margin-bottom: 0px;
}
.xs-sidebar-group .content-inner .form-inner .form-group input[type='text'],
.xs-sidebar-group .content-inner .form-inner .form-group input[type='email'],
.xs-sidebar-group .content-inner .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  padding: 10px 20px;
  color: #848484;
  transition: all 500ms ease;
}
.xs-sidebar-group .content-inner .form-inner .form-group textarea{
  resize: none;
  height: 120px;
}
.xs-sidebar-group .content-inner .form-inner .form-group input:focus,
.xs-sidebar-group .content-inner .form-inner .form-group textarea:focus{
  border-color: #00224f;
}

/** banner **/
.banner-section{
  position: relative;
}
.banner-section .slide-item{
  position: relative;
  padding: 100px 0px;
}
.banner-section .slide-item .img-layer{
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: all 6000ms linear;
}
.banner-section .owl-item.active .slide-item .img-layer{
  transform: scale(1.15);
}
.banner-section .pattern-layer .pattern-one{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 635px;
  background-repeat: no-repeat;
}
.banner-section .pattern-layer .pattern-two{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 273px;
  height: 401px;
}
.banner-section .content-inner{
  position: relative;
  max-width: 545px;
  background: #fff;
  border-radius: 10px;
  padding: 65px 70px 70px 70px;
  box-shadow: 0 20px 50px rgb(0 0 0 / 10%);
  transition: all 3000ms ease;
  transform: translateY(50px);
  opacity: 0;
}
.banner-section .owl-item.active .slide-item .content-inner{
  opacity: 1;
  transform: translateY(0);
}
.banner-section .content-inner .pattern{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 155px;
  height: 246px;
  background-repeat: no-repeat;
}
.banner-section .content-inner h5{
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.banner-section .content-inner h5 span{
  margin-right: 10px;
  font-size: 16px;
}
.banner-section .content-inner h1{
  font-size: 50px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 15px;
}
.banner-section .content-inner p{
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 23px;
}

/** about-section **/
.about-section{
  position: relative;
  padding: 150px 0px;
}
.about-section .image-box{
  position: relative;
  padding: 0px 150px 160px 0px;
}
.about-section .image-box img{
 width: 100%;
 border-radius: 10px;
}
.about-section .image-box .image-1{
  border-radius: 10px;
}
.about-section .image-box .image-1:before{
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.about-section .image-box:hover .image-1:before{
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.about-section .image-box .image-2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 15px 50px #d3dce8;
}
.about-section .image-box .pattern-box .pattern-one{
  position: absolute;
  left: -45px;
  top: 50px;
  width: 95px;
  height: 95px;
  background-repeat: no-repeat;
}
.about-section .image-box .pattern-box .pattern-two{
  position: absolute;
  right: -28px;
  bottom: 215px;
  width: 95px;
  height: 95px;
  background-repeat: no-repeat;
}
.about-section .content-box .upper-box{
  padding-bottom: 60px;
  margin-bottom: 41px;
  border-bottom: 1px solid #e5e5e5;
}
.about-section .content-box  .sec-title{
  margin-bottom: 32px;
}
.about-section .content-box .btn-box{
  margin-top: 45px;
}
.counter-block-one{
  position: relative;
  padding-left: 45px;
}

.counter-block-one .icon-box{
  position: absolute;
  left: 0px;
  top: 9px;
  width: 26px;
  height: 32px;
}
.counter-block-one .icon-box:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 60% 0%);
}
.counter-block-one .icon-box .dotted{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.counter-block-one .icon-box .dotted-1{
  left: 0px;
  top: 6px;
}
.counter-block-one .icon-box .dotted-2{
  top: 6px;
  right: 6px;
}
.counter-block-one .icon-box .dotted-3{
  right: 6px;
  bottom: 6px;
}
.counter-block-one .count-outer{
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  color: #00224f;
  font-weight: 600;
  margin-bottom: 10px;
}
.counter-block-one p{
  font-size: 17px;
  line-height: 24px;
  color: #00224f;
  font-weight: 600;
}
.about-section .pattern-layer .pattern-layer-one{
  position: absolute;
  top: 70px;
  right: 300px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}

.about-section .pattern-layer .pattern-layer-two{
  position: absolute;
  top: 80px;
  right: 80px;
  background: #f7f8f9;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

/** service-section **/

.services-section{
  position: relative;
  padding: 145px 0px 250px 0px;
}
.service-block-one .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0 15px 40px #d3dce8;
}
.service-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}
.service-block-one .inner-box .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: all 500ms ease;
  background: linear-gradient( 0deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.0) 80% );
  z-index: 1;
}
.service-block-one .inner-box .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.service-block-one .inner-box:hover .image-box img{
  opacity: 0.5;
  transform: scale(1.1);
}

.service-block-one .inner-box .lower-content{
  position: relative;
  padding: 30px 30px 30px 40px;
}

.service-block-one .inner-box .lower-content .icon-box{
  position: relative;
  display: inline-block;
  font-size: 65px;
  line-height: 60px;
  margin-bottom: 32px;
  padding-left: 23px;
}

.service-block-one .inner-box .lower-content .icon-box:before{
  position: absolute;
  content: '';
  height: 80px;
  width: 45px;
  top: -7px;
  left: 0px;
  clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%, 0% 0%);
  opacity: 0.1;
  transition: all 500ms ease;
}

.service-block-one .inner-box:hover .lower-content .icon-box:before{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 60% 0%);
  opacity: 0.2;
}
.service-block-one .inner-box .lower-content h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}
.service-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: #00224f;
}
.service-block-one .inner-box .lower-content p{
  margin-bottom: 21px;
}
.service-block-one .inner-box .pattern{
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 99px;
  height: 170px;
  opacity: 0;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}
.service-block-one .inner-box:hover .pattern{
  right: 0px;
  opacity: 1;
}
.services-section .pattern-layer .pattern-1{
  position: absolute;
  left: 290px;
  bottom: 65px;
  width: 80px;
  height: 80px;
  z-index: 1;
  background-repeat: no-repeat;
}
.services-section .pattern-layer .pattern-2{
  position: absolute;
  left: 70px;
  bottom: 70px;
  background: #f0f3f7;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}
.services-section .pattern-layer .pattern-3{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 710px;
  height: 570px;
  background-repeat: no-repeat;
}

/** chooseus-section **/

.chooseus-section{
  position: relative;
  background: #fff;
}

.chooseus-section .pattern-layer{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 167px;
  height: 284px;
  background-repeat: no-repeat;
}

.chooseus-section .bg-column{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.chooseus-section .content-column{
  position: relative;
  float: right;
  width: 40%;
}

.chooseus-section .content-column:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 100px;
  left: 0px;
  top: -100px;
}

.chooseus-section .content-column .content-inner{
  position: relative;
  display: block;
  text-align: left;
  max-width: 620px;
}

.accordion-box .block{
  position: relative;
  display: block;
  transition: all 500ms ease;
}

.accordion-box .block:last-child{
  margin-bottom: 0px;
}

.accordion-box .block .acc-content.current{
  display:block;  
}

.accordion-box .block .acc-btn .icon-outer{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #e5e5e5;
  color: #00224f;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease;
  z-index: 1;
}

.accordion-box .block .acc-btn.active .icon-outer{
  color: #fff;
}

.accordion-box .block .acc-btn.active .icon-outer i:before{
  position: relative;
  font-size: 16px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 500;
  margin: 0px;
  content: "\f068";
}

.accordion-box .block .acc-btn{
  position: relative;
  display: block;
  padding: 17px 0px 17px 45px;
  cursor: pointer;
  background: transparent;
  transition: all 500ms ease;
}

.accordion-box .block .acc-btn h5{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.accordion-box .block .acc-content{
  position:relative;
  display:none;
  padding-left: 45px;
  padding-bottom: 11px;
}

.chooseus-section .content-column .content-inner{
  position: relative;
  padding: 26px 30px 110px 130px;
}

.chooseus-section .content-column .content-inner .sec-title{
  margin-bottom: 18px;
}

.bg-color-2{
  background: #003478 !important;
}


/** clients-section **/

.clients-section{
  position: relative;
  padding: 120px 0px 260px 0px;
}

.clients-section .clients-logo-box{
  position: relative;
  display: block;
}

.clients-section .clients-logo-box img{
  display: block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.clients-section .clients-logo-box img:hover{
  opacity: 0.5;
}

.clients-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  animation: slide 100s linear infinite;
  -webkit-animation: slide 100s linear infinite;
}

@keyframes slide{
  from { background-position: 0 0; }
    to { background-position: 1920px 0; }
}

@-webkit-keyframes slide{
  from { background-position: 0 0; }
    to { background-position: 1920px 0; }
}


/** agent-section **/

.agent-section{
  position: relative;
}

.agent-section .inner-container{
  position: relative;
  background: #fff;
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  margin-top: -140px;
}

#content_block_2 .content-box{
  position: relative;
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 10px;
  padding: 32px 40px 21px 40px;
}

#content_block_2 .content-box h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

#content_block_2 .content-box .support-box{
  position: relative;
  padding-left: 65px;
}

#content_block_2 .content-box .support-box .icon-box{
  position: absolute;
  left: 0px;
  top: 12px;
  font-size: 26px;
  line-height: 30px;
}

#content_block_2 .content-box .support-box .icon-box:before {
  position: absolute;
  content: '';
  height: 44px;
  width: 36px;
  top: -5px;
  left: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 60% 0%);
  opacity: 0.1;
}

#content_block_2 .content-box .support-box h6{
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 0px;
}

#content_block_2 .content-box .support-box h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

#content_block_2 .content-box .support-box h3 a{
  display: inline-block;
  color: #00224f;
}

#content_block_2 .content-box .support-box h3 a:hover{

}

#content_block_3 .content-box{
  position: relative;
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 10px;
  padding: 32px 40px 37px 40px;
}

#content_block_3 .content-box h3{
  display: block;
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 22px;
}

#content_block_3 .content-box .subscribe-form .form-group{
  position: relative;
  margin: 0px;
  padding-right: 150px;
  border-radius: 5px;
  overflow: hidden;
}

#content_block_3 .content-box .subscribe-form .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #efeded;
  font-size: 17px;
  color: #808080;
  padding: 10px 20px;
  border-radius: 5px 0px 0px 5px;
  transition: all 500ms ease;
}

#content_block_3 .content-box .subscribe-form .form-group input:focus{

}

#content_block_3 .content-box .subscribe-form .form-group button{
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px;
  padding: 12px 26px;
}

#content_block_3 .content-box .subscribe-form .form-group button:before{
  border-radius: 0px;
}


/** team-section **/

.team-section{
  position: relative;
  padding: 147px 0px 146px 0px;
}

.team-section .title-inner .sec-title,
.team-section .title-inner .text{
  width: 50%;
}

.team-block-one .inner-box{
  position: relative;
  display: block;
  text-align: center;
}

.team-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.team-block-one .inner-box .image-box:after{
  position: absolute;
  content: '';
  background: rgb(0 34 79 / 60%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box:after{
  opacity: 1;
}

.team-block-one .inner-box .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: all 500ms ease;
  background: linear-gradient( 0deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.0) 50% );
  z-index: 1;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box::before {
  opacity: 0;
}

.team-block-one .inner-box .image-box img{
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box img{
  transform: scale(1.1);
}

.team-block-one .inner-box .image-box .social-links{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 1;
}

.team-block-one .inner-box .image-box .social-links li{
  position: relative;
  display: inline-block;
  margin: 0px 3px;
}

.team-block-one .inner-box .image-box .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #bfbfbf;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transform: scale(0,0);
}

.team-block-one .inner-box .image-box .social-links li a:hover{
  color: #fff;
}

.team-block-one .inner-box:hover .image-box .social-links li a{
  transform: scale(1,1);
}

.team-block-one .inner-box .lower-content{
  position: relative;
  margin: 0px 40px;
  z-index: 1;
}

.team-block-one .inner-box .lower-content .inner{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 36px 15px 31px 15px;
  overflow: hidden;
  margin-top: -65px;
  box-shadow: 0 20px 30px rgb(211, 220, 232, 0.6);
}

.team-block-one .inner-box .lower-content .inner h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 4px;
}

.team-block-one .inner-box .lower-content .inner h3 a{
  display: inline-block;
  color: #00224f;
}

.team-block-one .inner-box .lower-content .inner h3 a:hover{

}

.team-block-one .inner-box .lower-content .inner .designation{
  position: relative;
  display: block;
  font-size: 16px;
}

.team-block-one .inner-box .lower-content .inner .pattern .pattern-1{
  position: absolute;
  left: -30px;
  top: 0px;
  width: 109px;
  height: 129px;
  opacity: 0;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .lower-content .inner .pattern .pattern-1{
  opacity: 1;
  left: 0px;
}

.team-block-one .inner-box .lower-content .inner .pattern .pattern-2{
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 110px;
  height: 129px;
  opacity: 0;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .lower-content .inner .pattern .pattern-2{
  opacity: 1;
  right: 0px;
}


/** testimonial-section **/

.testimonial-section{
  position: relative;
  padding-bottom: 140px;
}

.testimonial-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 64px 60px 70px 70px;
  box-shadow: 0 10px 40px rgb(211, 220, 232, 0.6);
}

.testimonial-section .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.testimonial-section .owl-carousel .owl-item{
  opacity: 0;
  transition: all 500ms ease;
}

.testimonial-section .owl-carousel .owl-item.active{
  opacity: 1;
}

.testimonial-block-one .inner-box .text{
  margin-bottom: 20px;
}

.testimonial-block-one .inner-box .text p{
  font-size: 20px;
  line-height: 30px;
  color: #00224f;
  font-weight: 600;
  font-style: italic;
}

.testimonial-block-one .inner-box .quote{
  position: absolute;
  right: 70px;
  bottom: 80px;
  font-size: 60px;
  opacity: 0.1;
}

.testimonial-block-one .inner-box .author-info{
  position: relative;
  padding: 9px 0px 7px 90px;
}

.testimonial-block-one .inner-box .author-info .author-thumb{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-info .author-thumb img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-info h3{
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.testimonial-block-one .inner-box .author-info .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.testimonial-block-one .inner-box .pattern{
  position: absolute;
  right: 18px;
  bottom: 18px;
  width: 35px;
  height: 50px;
  background-repeat: no-repeat;
}

.testimonial-section .owl-dots{
  position: relative;
  display: block;
  text-align: center;
  margin-top: 56px;
}

.testimonial-section .owl-theme .owl-dots .owl-dot span{
  position: relative;
  display: inline-block;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 5px;
  transition: all 500ms ease;
}

.testimonial-section .owl-theme .owl-dots .owl-dot span:before{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span:before,
.testimonial-section .owl-theme .owl-dots .owl-dot span:hover:before{
  transform: scale(1,1);
}

.testimonial-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: -75px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


/** video-section **/

.video-section{
  position: relative;
  width: 100%;
  padding: 235px 0px 320px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.video-section:before{
  position: absolute;
  content: '';
  background: #000e20;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.5;
}

.video-section .inner-box a{
  position: relative;
  display: inline-block;
  font-size: 35px;
  width: 100px;
  height: 100px;
  line-height: 94px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 14px;
}

.video-section .inner-box a:after, 
.video-section .inner-box a:before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.video-section .inner-box a:after {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.video-section .inner-box h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
}


/** cta-section **/

.cta-section{
  position: relative;
}

.cta-section .inner-container{
  position: relative;
  padding: 78px 0px 81px 100px;
  border-radius: 10px 0px 0px 10px;
  margin-top: -85px;
}

.cta-section .inner-container:before{
  position: absolute;
  content: '';
  background: #003478;
  border-radius: 10px 0px 0px 10px;
  width: 5000px;
  height: 100%;
  left: 0px;
  top: 0px;
}

.cta-section .text h2{
  position: relative;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 13px;
}

.cta-section .text h2 span{

}

.cta-section .text p{
  font-weight: 600;
  color: #b7c8d9;
}

.cta-section .btn-box .theme-btn-one{
  box-shadow: none;
}

.cta-section .inner-container .pattern .pattern-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-section .inner-container .pattern .pattern-2{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 339px;
  height: 143px;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
}

.cta-section .pattern-layer{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 530px;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}


/** news-section **/

.news-section{
  position: relative;
  padding: 134px 0px 150px 0px;
}

.news-block-one .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgb(211, 220, 232, 0.6);
}

.news-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}

.news-block-one .inner-box .image-box:before{
  position: absolute;
  content: '';
  background: rgb(0 34 79 / 60%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: 1;
  transition: all 500ms ease;
}

.news-block-one .inner-box:hover .image-box:before{
  opacity: 1;
}

.news-block-one .inner-box .image-box img{
  width: 100%;
  transform: scale(1.1);
  transition: all 500ms ease;
}

.news-block-one .inner-box:hover .image-box img{
  transform: scale(1);
}

.news-block-one .inner-box .image-box a{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 0px;
  color: #fff;
  z-index: 1;
}

.news-block-one .inner-box .lower-content{
  position: relative;
  padding: 35px 40px 40px 40px;
}

.news-block-one .inner-box .lower-content h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 17px;
}

.news-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: #00224f;
}

.news-block-one .inner-box .lower-content h3 a:hover{

}

.news-block-one .inner-box .lower-content .admin-box{
  position: relative;
  padding: 0px 0px 8px 65px;
  margin-bottom: 24px;
}

.news-block-one .inner-box .lower-content .admin-box .admin-thumb{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.news-block-one .inner-box .lower-content .admin-box .admin-thumb img{
  width: 100%;
  border-radius: 50%;
}

.news-block-one .inner-box .lower-content .admin-box a{
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #00224f;
  line-height: 22px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}

.news-block-one .inner-box .lower-content .admin-box a:hover{

}

.news-block-one .inner-box .lower-content .admin-box span{
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 14px;
  color: #808080;
}

.news-block-one .inner-box .lower-content p{
  margin-bottom: 21px;
}

.news-block-one .inner-box .lower-content .pattern{
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 99px;
  height: 170px;
  opacity: 0;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}

.news-block-one .inner-box:hover .lower-content .pattern{
  right: 0px;
  opacity: 1;
}

.news-section .pattern-layer .pattern-1{
  position: absolute;
  top: 110px;
  left: 220px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}

.news-section .pattern-layer .pattern-2{
  position: absolute;
  top: -10px;
  left: 90px;
  background: #f7f8f9;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}


/** contact-section **/

.contact-section{
  position: relative;
  padding: 120px 0px 100px 0px;
}

.contact-section .image-layer{
  position: absolute;
  left: 170px;
  bottom: 0px;
}

.contact-section .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 410px;
  height: 602px;
  background-repeat: no-repeat;
}

.contact-section .pattern-layer .pattern-2{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 582px;
  height: 666px;
  background-repeat: no-repeat;
}

#content_block_4 .content-box .form-inner{
  position: relative;
  display: block;
  background: #fff;
  padding: 65px 70px 70px 70px;
  box-shadow: 0 20px 30px rgb(211, 220, 232, 0.6);
  border-radius: 10px;
  overflow: hidden;
}

#content_block_4 .content-box .form-inner .pattern{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 139px;
  height: 236px;
  background-repeat: no-repeat;
}

#content_block_4 .content-box .form-inner h3{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.default-form .form-group{
  position: relative;
  margin-bottom: 20px;
}

.default-form .form-group:last-child{
  margin-bottom: 0px !important;
  padding-top: 20px;
}

.default-form .form-group input[type='text'],
.default-form .form-group input[type='email'],
.default-form .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  color: #727272;
  padding: 10px 20px;
  transition: all 500ms ease;
}

.default-form .form-group textarea{
  height: 120px;
  resize: none;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{

}

#content_block_4 .content-box .sec-title{
  margin-bottom: 58px;
}

/** main-footer **/
.main-footer{
  position: relative;
}

.footer-top{
  position: relative;
  width: 100%;
  padding: 133px 0px 117px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.footer-top:before{
  position: absolute;
  content: '';
  background: #001b3e;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.85;
}

.footer-top .widget-title{
  position: relative;
  display: block;
  margin-bottom: 23px;
}

.footer-top .widget-title h2{
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

.footer-top .widget-title h3{
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.footer-top .footer-widget p{
  font-size: 17px;
  line-height: 28px;
  color: #fff;
}

.footer-top .footer-widget .social-links li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.footer-top .footer-widget .social-links li:last-child{
  margin: 0px !important;
}

.footer-top .footer-widget .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #bfbfbf;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.footer-top .footer-widget .social-links li a:hover{
  color: #fff;
}

.footer-top .about-widget .text{
  margin-bottom: 37px;
}

.footer-top .links-widget .links-list li{
  position: relative;
  display: block;
  margin-bottom: 9px;
}

.footer-top .links-widget .links-list li:last-child{
  margin-bottom: 0px;
}

.footer-top .links-widget .links-list li a{
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

.footer-top .links-widget .links-list li a:hover{

}

.footer-top .contact-widget .text{
  margin-bottom: 11px;
}

.footer-top .contact-widget .info-list li{
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 10px;
  padding-left: 28px;
}

.footer-top .contact-widget .info-list li:last-child{
  margin-bottom: 0px;
}

.footer-top .contact-widget .info-list li a{
  display: inline-block;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.footer-top .contact-widget .info-list li a:hover{

}

.footer-top .contact-widget .info-list li i{
  position: absolute;
  left: 0px;
  top: 4px;
  font-size: 16px;
}

.footer-top .contact-widget p{
  line-height: 30px;
}

.footer-top .subscribe-widget .text{
  margin-bottom: 38px;
}

.footer-top .subscribe-widget .subscribe-form .form-group{
  position: relative;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
}

.footer-top .subscribe-widget .subscribe-form .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background: #fff;
  border: 1px solid #fff;
  padding: 10px 80px 10px 20px;
  font-size: 16px;
  color: #808080;
  transition: all 500ms ease;
}

.footer-top .subscribe-widget .subscribe-form .form-group button{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.footer-top .subscribe-widget .subscribe-form .form-group input:focus{

}

.footer-bottom{
  position: relative;
  background: #002555;
  padding: 30px 0px;
}

.footer-bottom .bottom-inner{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .bottom-inner .copyright{
  position: relative;
}

.footer-bottom .bottom-inner .copyright p{
  font-size: 17px;
  line-height: 28px;
  color: #fff;
}

.footer-bottom .bottom-inner .copyright p a{
  color: #fff;
}

.footer-bottom .bottom-inner .copyright p a:hover{

}

.footer-bottom .bottom-inner .footer-logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-bottom .bottom-inner .footer-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-bottom .bottom-inner .footer-nav li{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  margin-right: 20px;
}

.footer-bottom .bottom-inner .footer-nav li:last-child{
  margin: 0px !important;
}

.footer-bottom .bottom-inner .footer-nav li a{
  color: #fff;
}

.footer-bottom .bottom-inner .footer-nav li a:hover{

}





